<div ng-controller="registerCourseController">
	<h1 align="center">Course Registration Form</h1>
		<table align="center" cellpadding="10">
			<tr>
				<td>Course Name</td>
				<td><input type="text" name="courseName" ng-model="courseName" value="" maxlength="30">(max 30 characters a-z and A-Z)</td>
			</tr>
			<tr>
				<td>Course Length</td>
				<td>
				<select name="courseLength" ng-model="courseLength" style="width: 50px">
					<option name="courseLength">1</option>
					<option name="courseLength">2</option>
					<option name="courseLength">3</option>
				</select></td>
			</tr>
			<tr>
				<td>Tuition Fee</td>
				<td><input type="text" name="tuitionFees" ng-model="tuitionFees" value="" maxlength="30">(max 30 characters a-z and A-Z)</td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
					<button ng-click="registerCourse()">Save</button>
					<input type="reset" value="Reset">
				</td>
			</tr>
		</table>

</div>