<div ng-controller="loginController">
		<div style="padding: 100px 0 0 250px;">
			<div id="loginBox">
				<h2>Login Page</h2>
				Please provide your credential to use this website <br> <br>
				<div id="loginBox-name" style="margin-top: 20px;">User Id:</div>
				<div id="loginBox-field" style="margin-top: 20px">
					<input name="userId" ng-model="userId" class="form-login" title="Username" value=""
						size="30" maxlength="50">
				</div>
				<div id="loginBox-name">Password:</div>
				<div id="loginBox-field">
					<input name="password" ng-model="password" type="password" class="form-login"
						title="Password" value="" size="30" maxlength="48">
				</div>
				<br> <span class="loginBox-options"> New User ? <button ng-click="getRegister()">Register Here</button>
				</span> <br> <br> <button ng-click="login()">Login</button>
			</div>
		</div>
</div>