html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
	padding-top: 100px;
    background-color: #F2EFE4;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.navigation {
    background: linear-gradient(0deg, #352D39, #4C3327);
    overflow: hidden;
    animation: BackgroundGradient 30s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
    letter-spacing: 1px;
    color: azure;
    float: left;
    font-size: 22px;
    line-height: 80px;
    padding: 0 6em;
}

.menu {
    float: right;
    line-height: 60px;
    margin: 0 6em;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: azure;
    font-size: 16px;
    font-weight: lighter;
    padding: 10px;
}

ul li:nth-child(7) a {
    color: #BD3632;
    border: 1px solid #BD3632;
    padding: 10px 20px;
    border-radius: 4px;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header h1 {
    color: #4C3327;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 8px
}

.header p {
    color: #CB8C1D;
    font-size: 24px;
    font-weight: lighter
}

.header button {
    color: #352D39;
    background: #BD3632;
    padding: 12px 32px;
    font-size: 14px;
    border: none;
    margin-top: 40px;
}

table{
	padding-top: 100px;
}
.myForm{
	padding-top: 80px;
}
.myTable{
	width: 80%;
	padding-top: 100px;
}
/* Add a color to the active/current link */
.menu a.active{
	background-color: #BD3632;
}
.myTable, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	background-color: azure;
}
th,td{
	padding: 5px;
	text-align: center;
}
th{
	background-color: #4C3327;
	color: azure;
}
tr:nth-child(even){
	background-color: #e8e8e8;
}

h1 {
    color: #CB8C1D;
}

h2 {
    color: #4C3327;
}

h3 {
    color: #BD3632;
}

h4 {}

h5 {}