<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServiceEndPoint</servlet-name>
    <servlet-class>com.kolia.servlets.ServiceEndPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceEndPoint</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>com.kolia.authentication.Authentication</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.kolia.servlets.Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.kolia.registration.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateData</servlet-name>
    <servlet-class>com.kolia.servlets.PopulateData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateCourses</servlet-name>
    <servlet-class>com.kolia.servlets.PopulateCourses</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.kolia.servlets.CourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnrollServlet</servlet-name>
    <servlet-class>com.kolia.servlets.EnrollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollServlet</servlet-name>
    <url-pattern>/enroll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.kolia.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/reg/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateData</servlet-name>
    <url-pattern>/populateData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateCourses</servlet-name>
    <url-pattern>/populateCourses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/courseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>tempFile.csv</param-name>
    <param-value>
    	E:\Tutorials
    </param-value>
  </context-param>
</web-app>